@import "./variables";

footer {
    background-image: url("/assets/img/footer-bg.jpg");
    background-size: cover;
    color: white;
    font-size: 0.75rem;

    .background-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    a {
        text-decoration: none;
        color: grey;
    }
}