@import "./variables";

main {
    background-color: #000;
    color: #FFF;
    .section-label {
        font-size: 1.2rem;
        font-weight: bold;
        background: $brand-color;
        position: absolute;
        padding: 0.5rem 2rem;
        top: -1.2rem;
        left: 0.5rem;
    }
    .branded-button {
        background-color: $brand-color;
        padding: 0.5rem 4rem;
        color: white;
    }
}
.jumbotron {
    position: relative;
    background-image: url("/assets/img/jumbotron.jpg");
    background-size: cover;
    height: 400px;
}

.action-bar{
    background-color: $brand-color;
    color: #FFF;
    img {
        height: 3rem;
        margin-right: 0.5rem;
    }
}


.social-bar {
    padding: 2rem 0;
    background-color: #303030;
    .btn {
        border: 1px solid $brand-color;
        color: white;
    }
    a {
        text-decoration: none;
        color: $brand-color;
        margin-bottom: 0;
        font-weight: bold;
    }
}